body {
  font-size: 14px;
  line-height: 24px;
  color: #848281;
  font-family: "PTSans Narrow", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
header {
  width: 1200px;
  background-color: #000000;
  color: #f7f4f1;
}
.main-header {
  min-height: 70px;
}
section {
  background-color: #d3ea76;
}
footer {
  background-color: #aaea76;
}
.main-logo {
  float: left;
  width: 150px;
}
nav {
  display: inline-block;
  width: 560px;
}
